# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

project_history.mp4

# Files from Forge MDK
forge*changelog.txt
/.apt_generated/
/.apt_generated_tests/
/mnasrc/
/mnasrc
libs/
/src/generated/resources/data/hemomancy/tags/entity_types/Generate.py
/src/main/resources/data/hemomancy/tags/entity_types/Generate.py

/.superpowers/
/.claude/


/.vscode/
