# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.mp4

# idea
out
*.ipr
*.iws
*.iml
.idea

libs
*.jar

# gradle
build
.gradle

# other
eclipse
run


# Files from Forge MDK
forge*changelog.txt
